.signed-out-header {
    grid-area: 1 / 2 / 2 / 3;
    height: 65px;
    width: calc(100vw - 85px - 1.5rem - 10px);
    background: white;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    padding: 0 1.5rem 0 0;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.signed-out-header .youtube-logo {
    max-height: 25px;
    cursor: pointer;
}

.signed-out-header .header-end {
    justify-self: end;
}

.header-icon {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    font-size: 1.2rem;
    position: relative;
}

.header-icon:hover {
    background: rgb(230, 230, 230);
}

.header-icon::after {
    position: absolute;
    bottom: -115%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
}

.header-icon.settings::after {
    content: 'Settings';
}

.header-icon:hover::after {
    opacity: 1
    ;
}

@media(max-width: 1300px) {
    .signed-out-header {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media(max-width: 950px) {
    .signed-out-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signed-out-header .search-box {
        width: 70%;
    }

    .signed-out-header .header-end {
        display: none;
    }
}

@media(max-width: 550px) {
    .signed-out-header .search-box {
        width: auto;
    }
}