.signed-out-header {
    grid-area: 1 / 2 / 2 / 3;
    height: 65px;
    width: calc(100vw - 85px - 1.5rem - 10px);
    background: white;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    padding: 0 1.5rem 0 0;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.signed-out-header .youtube-logo {
    max-height: 22px;
    cursor: pointer;
}

.signed-out-header .header-end {
    justify-self: end;
}

.signed-out-header .header-end > .header-icon {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    font-size: 1.2rem;
}

.signed-out-header .header-end > .header-icon:hover {
    background: rgb(230, 230, 230);
}

.header-icon:hover::after {
    opacity: 1;
}

@media(max-width: 1300px) {
    .signed-out-header {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media(max-width: 1000px) {
    .signed-out-header {
        grid-template-columns: 4fr 1fr;
    }

    .signed-out-header .youtube-logo {
        display: none;
    }

    .signed-out-header .search-box {
        justify-self: end;
        width: 70%;
    }
}

@media(max-width: 950px) {
    .signed-out-header .header-end > .header-icon {
        display: none;
    }
}

@media(max-width: 750px) {
    .signed-out-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signed-out-header .header-end {
        display: none;
    }
}