.general-settings {
    position: absolute;
    top: 4rem;
    right: 6rem;
    background: white;
    box-shadow: 0 0 15px lightgray;
    border-radius: 14px;
    padding: 0.6rem 0;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.general-settings li {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding: 0.6rem 1rem;
}

.general-settings li.settings {
    border-top: 1px solid rgb(215, 215, 215);
    border-bottom: 1px solid rgb(215, 215, 215);
}