.general-settings {
    position: absolute;
    top: 4rem;
    right: 6rem;
    background: white;
    box-shadow: 0 0 15px lightgray;
    border-radius: 14px;
    padding: 0.6rem 0;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}