.searched-video-card {
    width: 95%;
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 1rem;
    position: relative;
}

.searched-video-card .thumbnail {
    position: relative;
    max-height: 180px;
}

.searched-video-card .thumbnail > .duration {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 8px;
    right: 8px;
    border-radius: 8px;
    padding: 4px 5px;
}

.searched-video-card .info {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.searched-video-card .info > .video-details > .video-title {
    font-size: 1.3rem;
}

.searched-video-card .info > .video-details > .views-date {
    display: flex;
    align-items: center;
}

.searched-video-card .info > .video-details > .views-date,
.searched-video-card .info >.channel-details,
.searched-video-card .info > .description {
    color: rgb(95, 95, 95);
}

.searched-video-card .info > .channel-details {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.searched-video-card .info > .channel-details > .channel-icon {
    height: 30px;
    width: 30px;
}

.searched-video-card .info > .channel-details > .channel-icon > img {
    max-width: 100%;
    border-radius: 50px;
}

.video-actions {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0;
}

.video-actions:hover {
    background: rgb(230, 230, 230);
}

.searched-video-card:hover .video-actions {
    opacity: 1;
}