.account-settings {
    position: absolute;
    top: 4rem;
    right: 2rem;
    background: white;
    box-shadow: 0 0 15px lightgray;
    border-radius: 14px;
    padding: 0.6rem 0;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    z-index: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.account-profile {
    display: flex;
    gap: 0.8rem;
    padding: 0.8rem;
}

.account-profile .account-details > p {
    font-size: 1.2rem;
}

.account-profile .account-details > button {
    color: blue;
    font-size: 0.9rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.account-settings ul {
    overflow: auto;
}

.account-settings ul > li {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding: 0.6rem 1rem;
}

.account-settings ul > li.your-channel,
.account-settings ul > li.appearance {
    border-top: 1px solid rgb(215, 215, 215);
}

.account-settings ul > li.settings {
    border-top: 1px solid rgb(215, 215, 215);
    border-bottom: 1px solid rgb(215, 215, 215);
}

.account-settings ul > li:hover {
    background: rgb(240, 240, 240);
}

.account-settings ul > li > .icon {
    font-size: 1.25rem;
}