.searched-results-page {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.searched-results-page .filter {
    width: 95%;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    padding: 0.8rem 0;
    margin-bottom: 0.5rem;
}

.searched-results-page .filter > p {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
}

.searched-results-page .filter > p > .icon {
    font-size: 1.55rem;
}

.search-page-infinite-scroll {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    overflow: auto;
    margin: auto;
    padding: 0 0 1rem 0;
}

.search-page-end-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
}

.search-page-end-message p {
    font-size: 1.3rem;
    text-align: center;
}

@media(max-width: 1300px) {
    
}

@media(max-width: 700px) {
    .searched-results-page .filter > p {
        font-size: 1rem;
    }

    .search-page-end-message p {
      font-size: 1.15rem;
    }
  }

  @media(max-width: 500px) {
    .search-page-end-message p {
      font-size: 1rem;
    }
  }