.general-video-card {
    max-width: 320px;
    display: grid;
    grid-template-rows: 180px 1fr;
    gap: 0.6rem;
}

.general-video-card .thumbnail {
    position: relative;
    max-height: 180px;
}

.general-video-card .thumbnail > img {
    max-width: 100%;
    border-radius: 15px;
}

.general-video-card .thumbnail > .duration {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 8px;
    right: 8px;
    border-radius: 8px;
    padding: 4px 5px;
}

.general-video-card .bottom {
    display: flex;
    gap: 0.5rem;
}

.general-video-card .bottom > .channel-icon {
    height: 40px;
    width: 40px;
}

.general-video-card .bottom > .channel-icon > img {
    max-height: 100%;
    border-radius: 50px;
}

.general-video-card .bottom > .info .video-title {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.general-video-card .bottom > .info > p:not(:first-child) {
    color: rgb(95, 95, 95);
}

.general-video-card .bottom > .info > .views-date {
    display: flex;
    align-items: center;
}