.signed-in-header {
    grid-area: 1 / 2 / 2 / 3;
    height: 65px;
    width: calc(100vw - 85px - 1.5rem - 10px);
    background: white;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    padding: 0 1.5rem 0 0;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.signed-in-header .youtube-logo {
    max-height: 22px;
    cursor: pointer;
}

.header-middle {
    display: flex;
}

.header-end {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.8rem;
}

.header-end div {
    background: rgb(57, 107, 172);
    color: #eaebea;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
