.open-sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    z-index: 2;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
}

.open-sidebar-container.show,
.overlay.show {
    opacity: 1;
    visibility: visible;
}

.sidebar {
    height: 100%;
    width: 280px;
    background: white;
    display: grid;
    grid-template-rows: 65px 1fr;
    gap: 0.5rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.4s ease;
}

.sidebar.open {
    left: 0;
}

.sidebar .hamburger-container {
    display: grid;
    grid-template-columns: 80px 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
}

.burger {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.4rem;
    transition: 0.1s ease;
}

.burger:hover {
    background: rgb(230, 230, 230);
}

.sidebar .hamburger-container > .youtube-logo {
    max-height: 25px;
    cursor: pointer;
    justify-self: start;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul > .page-link {
    width: 80%;
    border-radius: 8px;
    color: black;
    padding: 0.6rem 0.8rem;
}

.sidebar ul > .page-link:hover,
.sidebar ul > li:hover {
    background: rgb(240, 240, 240);
}

.sidebar ul > .page-link.active {
    background: rgb(240, 240, 240);
}

.sidebar ul > .page-link.active:hover {
    background: rgb(225, 225, 225);
}

.sidebar ul > .page-link li,
.sidebar ul > li {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.sidebar ul > .page-link > li > .sidebar-icon,
.sidebar ul > li > .sidebar-icon {
    font-size: 1.5rem;
}

.sidebar ul > ul {
    width: 100%;
    border-top: 1px solid rgb(215, 215, 215);
    margin: 0.5rem 0;
    padding-top: 0.8rem;
}

.sign-in-prompt-container {
    width: 100%;
    border-top: 1px solid rgb(215, 215, 215);
    border-bottom: 1px solid rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
    margin: 0.5rem 0;
}

.sign-in-prompt {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}