.sidebar-small {
  grid-area: 1 / 1 / 3 / 2;
  background: white;
  display: grid;
  grid-template-rows: 65px 1fr;
  gap: 1rem;
}

.sidebar-small .hamburger-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.4rem;
  transition: 0.1s ease;
}

.burger:hover {
  background: rgb(215, 215, 215);
}

.sidebar-small ul,
.small-page-link li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-small ul {
  list-style-type: none;
}

.small-page-link {
  color: black;
  width: 90%;
  border-radius: 8px;
  padding: 1.5rem 0;
}

.small-page-link:hover {
  background: rgb(240, 240, 240);
}

.small-page-link.active {
  background: rgb(240, 240, 240);
}

.small-page-link.active:hover {
  background: rgb(225, 225, 225);
}

.small-page-link li {
  gap: 0.3rem;
}

.small-page-link li > .sidebar-icon {
  font-size: 1.35rem;
}

.small-page-link li > p {
  font-size: 0.75rem;
  text-align: center;
}