header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 1.5rem 0 0;
}

header button {
    justify-self: end;
}

.youtube-logo {
    max-height: 30px;
}

.search-box {
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 60px;
}

.search-box input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid rgb(215,215,215);
    border-right-color: transparent;
    outline: none;
}

.search-box input:focus {
    border-color: rgb(6, 95, 212);;
}

.search-box button {
    width: 100%;
    justify-self: start;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    outline: none;
    cursor: pointer;
    background: #f9f9f9;
    border: 1px solid rgb(215,215,215);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box button:hover {
    background: #ececec;
    box-shadow: 0 0 1px grey;
}