.signed-out-page {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    gap: 1rem;
}

.signed-out-page-icon {
    font-size: 6.5rem;
}

.signed-out-page p:nth-child(2) {
    font-size: 2.5rem;
}

.signed-out-page p:nth-child(3) {
    font-size: 1.4rem;
}

.signed-out-history {
    display: grid;
    grid-template: 1fr / 3fr 1fr;
}

.signed-out-history .signed-out-page {
    grid-area: 1 / 1 / 2 / 2;
}

.signed-out-history .signed-out-page p:nth-child(3) > a {
    color: rgb(6, 95, 212);
    margin-left: 0.1rem;
}

.history-type {
    width: 90%;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.history-type p {
    padding: 1.6rem 1rem;
}

.history-type div {
    padding: 1.6rem 1rem;
    border-top: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: space-between;
}

.history-type div:last-child {
    border-bottom: 1px solid rgb(216, 216, 216);
}

.history-type div > label {
    cursor: pointer;
}

.sign-in-button {
    color: rgb(6, 95, 212);
    font-size: 1.2rem;
    background: transparent;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.8rem;
    padding: 0.6rem;
}

.sign-in-button:hover {
    background: rgba(62, 165, 255, 0.2);
    border-color: rgba(62, 165, 255, 0.2);
}

.sign-in-button:active {
    background: rgb(147, 181, 211, 0.4);
}