.sign-in-button {
    color: rgb(6, 95, 212);
    font-size: 1.1rem;
    background: transparent;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 0.65rem;
}

.sign-in-button:hover {
    background: rgba(62, 165, 255, 0.2);
    border-color: rgba(62, 165, 255, 0.2);
}

.sign-in-button:active {
    background: rgb(147, 181, 211, 0.4);
}