.signed-in-header {
    grid-area: 1 / 2 / 2 / 3;
    height: 65px;
    width: calc(100vw - 85px - 1.5rem - 10px);
    background: white;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;
    padding: 0 1.5rem 0 0;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.signed-in-header .youtube-logo {
    max-height: 22px;
    cursor: pointer;
}

.header-middle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 0.8rem;
    align-items: center;
}

.header-end {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
}

.profile-pic,
.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-pic {
    background: rgb(57, 107, 172);
    color: #eaebea;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
}

.header-icon {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    font-size: 1.2rem;
    position: relative;
}

.header-icon:hover {
    background: rgb(230, 230, 230);
}

.header-icon::after {
    position: absolute;
    bottom: -115%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
}

.header-icon.create::after {
    content: 'Create';
}

.header-icon.notifications::after {
    content: 'Notifications';
}

.header-icon:hover::after {
    opacity: 1;
}