* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.app {
  display: grid;
  grid-template: 65px calc(100vh - 65px) / 85px 1fr;
  min-height: 100vh;
  width: 100%;
}

header {
  grid-area: 1 / 2 / 2 / 3;
  background: white;
}

.home-page {
  grid-area: 2 / 2 / 3 / 3;
  background: rgb(182, 238, 182);
}