@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}
 
::-webkit-scrollbar-thumb {
  background: #555555; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777777; 
}

.app {
  display: grid;
  grid-template: 65px calc(100vh - 65px) / 85px 1fr;
  min-height: 100vh;
  width: 100%;
}