* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.app {
  display: grid;
  grid-template: 80px calc(100vh - 80px) / 100px 1fr;
  min-height: 100vh;
  width: 100%;
}

header {
  grid-area: 1 / 2 / 2 / 3;
  background: white;
}

nav,
nav ul,
.page-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  grid-area: 1 / 1 / 3 / 2;
  background: white;
  gap: 1rem;
}

nav ul {
  list-style-type: none;
  gap: 1rem;
}

.page-link {
  color: black;
}

.page-link p {
  font-size: 1.1rem;
}

.home-page {
  grid-area: 2 / 2 / 3 / 3;
  background: rgb(182, 238, 182);
}