.video-player {
    position: relative;
    /* width: 100%; */
    width: 95%;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: -110px;
}

iframe {
    height: calc((100% - 65px) - 65px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

/* @media(max-width: 1050px) {
    iframe {
        height: 100%;
    }
} */